<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzopH-qn0O9Oa_Qn2YK4w5IpacsQpYsHI</string>
	<key>GCM_SENDER_ID</key>
	<string>1012557198299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.gvsu.cis.masl.Art-at-GVSU</string>
	<key>PROJECT_ID</key>
	<string>art-at-gvsu-debug</string>
	<key>STORAGE_BUCKET</key>
	<string>art-at-gvsu-debug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012557198299:ios:2e0d5c8dc91890b5b22dfe</string>
</dict>
</plist>
