name: Deploy Production

on: workflow_dispatch

jobs:
  production:
    runs-on: macos-15
    permissions:
      contents: write
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4.2.0
        with:
          ssh-key: ${{ secrets.RELEASE_SSH_KEY }}
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1.194.0
        with:
          bundler-cache: true
      - uses: actions/setup-python@v5.2.0
      - name: Setup build dependencies
        run: make py-deps
      - name: Patch in working Xcode + iOS version
        run: |
          # https://github.com/actions/runner-images/issues/12758
          sudo xcode-select --switch /Applications/Xcode_16.2.app
          sudo xcodebuild -downloadPlatform iOS
      - name: Configure Git user
        run: |
          git config user.name "GV Bot"
          git config user.email "137118308+gvcis-bot@users.noreply.github.com"
      - name: Bump version
        run: make bump-version
      - name: Deploy App to Production
        env:
          FASTLANE_XCODEBUILD_SETTINGS_TIMEOUT: 120
          ENCODED_SECRETS_PLIST: ${{ secrets.ENCODED_SECRETS_PLIST }}
          ENCODED_GOOGLE_SERVICE_INFO_PLIST: ${{ secrets.ENCODED_GOOGLE_SERVICE_INFO_PLIST }}
          FASTLANE_USER: ${{ secrets.FASTLANE_USER }}
          ENCODED_APP_STORE_CONNECT_API_KEY: ${{ secrets.ENCODED_APP_STORE_CONNECT_API_KEY }}
          MATCHFILE_GIT_URL: ${{ secrets.MATCHFILE_GIT_URL }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
          SLACK_URL: ${{ secrets.SLACK_URL }}
        run: make deploy-production
      - name: Sync versioning to Main
        run: git push --follow-tags
